<form (ngSubmit)="saveData(frm)" #frm="ngForm">
  <div class="container">
    <div class="card offset">
        <div class="card-header"><h2 class="card-title">Area</h2>
        
          <div>
            <a class="dropdown btn dropdown-menu-dark">
              <a class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Location
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li *ngFor="let item of Areas" (click)="selectedArea(item)"><a class="dropdown-item" >{{item.region}}</a></li>
              </ul>
            </a>
          </div>

        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="region" class="form-label">Region</label>
                <input id="region" name="region" type="text" class="form-control"
                [(ngModel)]="area.region"
                required="required">
            </div>
            <div class="mb-3">
            <label for="country" class="form-label">Country</label>
                <input id="country" name="country" type="text" class="form-control"
                [(ngModel)]="area.country"
                required="required">
            </div>

            <div class="mb-3">
                <div class="offset-3">
                    <button name="submit" type="submit" class="btn btn-primary  me-2">Submit</button>
                    <button name="delete" 
                    type="button" 
                    class="btn btn-danger me-2"
                    (click)="deleteArea(area)">Delete</button>
                </div>
            </div>
            <div class="mb-3">
            <small>{{area.createdDate}}</small> 
            </div>
        </div>
    </div>
  </div>
  </form>
