################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.zip
*.cache
*.v2
*.editorconfig
/ShiftWork.Backend/obj
/ShiftWork.Backend/bin
/ShiftWork.Backend/.vs
/ShiftWork.Backend/v17
/ShiftWork.Frontend/node_modules
/ShiftWork.Frontend/.vs
/ShiftWork.Frontend/v17
/.vs
