################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShiftWorkApp/FileContentIndex/f6e2420a-c1b1-4160-a981-e93a4a341f90.vsidx
/.vs/ShiftWorkApp/FileContentIndex/40307d56-8e0e-44cc-89ca-7f0a9686c8c6.vsidx
/.vs/ShiftWorkApp/FileContentIndex/1253e1f3-7573-4f43-9742-6ec1288bef32.vsidx
*.vsidx
