################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShiftWorkApp/FileContentIndex/f6e2420a-c1b1-4160-a981-e93a4a341f90.vsidx
