<div class='demo-app'>

    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section'>
        <h2>Schedule</h2>
      </div>
      <div class='demo-app-sidebar-section'>
        <div class="row p-2">
          <select class="form-select" [(ngModel)]="schedule.personId" (change)="onProfileChange($event)" aria-label="Default select example">
              <option [ngValue]="undefined" [disabled]="true" selected>Select profile</option>
              <option [ngValue]="undefined" selected>All profiles</option>
              <option *ngFor="let item of People" value="{{item.personId}}">{{item.firstName}} {{item.lastName}}</option>
            </select>
        </div>
      </div>

    </div>

    <div class='demo-app-main'>
      <full-calendar #calendarEl
        *ngIf='calendarVisible'
        [options]='calendarOptions'
      ></full-calendar>
    </div>

  </div>
