<div class='demo-app'>

    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section'>
        <h2>Schedule</h2>
      </div>
      <div class='demo-app-sidebar-section'>
        <div class="row p-2">
          <select class="form-select" [(ngModel)]="schedule.personId" (change)="onProfileChange($event)" aria-label="Default select example">
              <option [ngValue]="undefined" [disabled]="true" selected>Select profile</option>
              <option *ngFor="let item of People" value="{{item.personId}}">{{item.firstName}} {{item.lastName}}</option>
            </select>
      </div>
      </div>
      <div class='demo-app-sidebar-section'>
        <p class="card-text text-decoration-underline">All upcoming shift</p>
        <ul>
            <li *ngFor="let r of Schedules">{{r.keyCode}} <b>{{r.scheduledate | date}}</b><i> {{r.startTime.substr(10,8)}}-{{r.endTime.substr(10,8)}}</i></li>
        </ul>

      </div>
    </div>
  
    <div class='demo-app-main'>
      <full-calendar #calendarSch
        *ngIf='calendarVisible'
        [options]='calendarOptions'
      ></full-calendar>
    </div>
  
  </div>
  