<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ShiftWork</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/schedule">Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/people">People</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/area">Area</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/location">Location</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">New Person</a></li>
                  <li><a class="dropdown-item" href="#">Schedule Person</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Inactive Person</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
  </header>




<form (ngSubmit)="saveData(frm)" #frm="ngForm">
  <div class="container">
    <div class="card offset">
        <div class="card-header"><h2 class="card-title">Area</h2>
        
          <div>
            <a class="dropdown btn dropdown-menu-dark">
              <a class="dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Location
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li *ngFor="let item of Areas" (click)="selectedArea(item)"><a class="dropdown-item" >{{item.region}}</a></li>
              </ul>
            </a>
          </div>

        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="region" class="form-label">Region</label>
                <input id="region" name="region" type="text" class="form-control"
                [(ngModel)]="area.region"
                required="required">
            </div>
            <div class="mb-3">
            <label for="country" class="form-label">Country</label>
                <input id="country" name="country" type="text" class="form-control"
                [(ngModel)]="area.country"
                required="required">
            </div>

            <div class="mb-3">
                <div class="offset-3">
                    <button name="submit" type="submit" class="btn btn-primary  me-2">Submit</button>
                    <button name="delete" 
                    type="button" 
                    class="btn btn-danger me-2"
                    (click)="deleteArea(area)">Delete</button>
                </div>
            </div>
            <div class="mb-3">
            <small>{{area.createdDate}}</small> 
            </div>
        </div>
    </div>
  </div>
  </form>
