  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ShiftWork</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/schedule">Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/people">People</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/area">Area</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/location">Location</a>
              </li>             
              <li *ngIf="auth.user$ | async as user" class="nav-item dropdown">                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{user.picture}}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">New Person</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="logOut()">Sign out</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>        
    </nav>
  </header>

    <div class="row py-lg-5" *ngIf="auth.user$ | async as user">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="col-lg-4">
                <img src="{{user.picture}}" alt="mdo" width="100" height="100" class="rounded-circle">
                <h2 class="fw-normal">Bienvenido {{user.name}}</h2>
                <p>{{user.email}}</p>
                <p><a class="btn btn-secondary">View details »</a></p>
            </div>
        </div>
      </div>

