<div class="container mt-10" style="background-color: #cbc7c7f9;">
    <div class="row gy-3">
        <div class="col col-sm">
            <div class="card p-3 mt-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Weather</h5>
                    <small><!-- Start WX Widget Code --><a href="https://www.weatherwx.com/forecast/ny/new+york.html" target="_blank"><img src="https://www.weatherwx.com/fetch-images.php?forecast=zandh&place=new+york&state=ny&country=us&config=png&alt=hwitransparentcolors3&hwvbg=transparent&hwvtc=0000FF" border="0" alt="Click for the latest New York weather forecast."></a><!-- End WX Widget Code --></small>
                    <h2>{{ time | date: 'hh:mm a' }}</h2>
                    <div class="gy-2">
                        <div class="row p-2">
                            <select class="form-select" [(ngModel)]="scheduleShift.personId" (change)="onProfileChange($event)" aria-label="Default select example">
                                <option [ngValue]="undefined" [disabled]="true" selected>Select profile</option>
                                <option *ngFor="let item of People" value="{{item.personId}}">{{item.firstName}} {{item.lastName}}</option>
                              </select>
                        </div>
                        <div class="row p-2">
                            <select class="form-select" [(ngModel)]="scheduleShift.areaId" (change)="onAreaChange($event)" aria-label="Default select example">
                                <option [ngValue]="undefined" [disabled]="true" selected>Select area</option>
                                <option *ngFor="let item of Areas" value="{{item.areaId}}">{{item.region}}</option>
                              </select>
                        </div>
                        <div class="row p-2">
                            <select class="form-select" [(ngModel)]="scheduleShift.locationId" (change)="onLocationChange($event)" aria-label="Default select example">
                                <option [ngValue]="undefined" [disabled]="true" selected>Select location</option>
                                <option *ngFor="let item of Locations" value="{{item.locationId}}">{{item.locationName}}</option>
                              </select>
                        </div>


                        
                    </div>
                    <small *ngIf="clockActive">Hours:{{hours}} Minutes: {{minutes}}</small>
                    <div *ngIf="!clockActive"> <button class="btn btn-outline-success btn-lg" (click)="startClock()">Start schedule shift</button></div>
                    <div *ngIf="clockActive"><button class="btn btn-outline-danger btn-lg" (click)="stopClock()">Stop schedule shift</button></div>
                </div>
            </div>
            <div class="card p-3 mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Shift</h5>
                    <br>
                    <p class="card-text text-decoration-underline">All upcoming shift</p>
                    <ul>
                        <li *ngFor="let r of Schedules">{{r.keyCode}} <small>{{r.scheduledate | date}}</small><br><small> {{r.startTime}}-{{r.endTime}}</small></li>
                    </ul>

                    <p class="card-text text-decoration-underline">Time Sheets</p>
                    <ul>
                        <li *ngFor="let r of Shifts">{{r.subject }} <small>{{r.startTime | date}}</small>
                            <br>
                             <small>{{r.startTime | date:'HH:mm'}}</small>-<small>{{r.endTime | date:'HH:mm'}}</small></li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="col col-sm" style="height:30rem;">
            <div class="card p-3 mt-2 h-100">
                <div class="card-body">
                    <h5 class="card-title">Task</h5>
                    <br>
                    <p class="card-text text-decoration-underline">My task</p>
                </div>
            </div>
        </div>
    </div>
</div>
