<form>
    <div class="card">
        <div class="card-header"><h2 class="card-title">Location</h2></div>
        
        <div class="card-body">
        <div class="mb-3">
            <label for="locationname" class="form-label">Location Name</label> 
            <input id="locationname" name="locationname" type="text" class="form-control" required="required">
        </div>
        <div class="mb-3">
            <div class="offset-1">
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    </div>
  </form>